name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Format code
      run: ./gradlew ktlintFormat

    - name: Check code
      run: ./gradlew check

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: "style: ${{ github.sha }}"
        branch: format
        title: Format ${{ github.event.head_commit.message }}
        body: |
          **Commit SHA**: ${{ github.sha }}
          **Committer**: ${{ github.actor }}
          **Commit Message**: ${{ github.event.head_commit.message }}
        labels: format