name: CD

on:
  workflow_dispatch:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Repository
        run: ./gradlew publish
        env:
          REPSY_PASSWORD: ${{ secrets.REPSY_PASSWORD }}
          REPSY_USER: ${{ secrets.REPSY_USER }}
